
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
sqlite.opensdf
sqlite.sdf
sqlite-src/.libs/
*.db
*.db-journal
*.db-wal
*.db-shm
*.o
*.lo
*.la
*.temp
tsrc/
test2-script.tcl
test.tcl
tf_main2.tcl
tf_main.tcl
sqlite-src/A
sqlite-src/file
sqlite-src/http
sqlite-src/test.bu
sqlite-src/testdb
sqlite-src/mydir
*.db2
*.db1
*.db1-journal